<!DOCTYPE html>
<html>
<head>
    <title>Añadir Producto</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="container">
        <img src="../static/LOGO JOMAR.png" alt="MercadoX5" class="logo" />
    </div>
    <h1>MercadoX5</h1>
    <div class="container">
    <h1>Añadir Producto</h1>
        <form action="/add_product" method="post">
            <label for="name">Nombre del producto:</label>
            <input type="text" id="name" name="name">

            <label for="brand">Marca:</label>
            <input type="text" id="brand" name="brand">

            <label for="presentation">Presentación:</label>
            <input type="text" id="presentation" name="presentation"> 

            <label for="distributor">Distribuidor:</label>
            <input type="text" id="distributor" name="distributor">


            <input type="submit" value="Añadir producto">
        </form>

        <div class="button-container">
            <a href="/"><button>Volver</button></a>
        </div>
        
    </div>
</body>
</html>