<!DOCTYPE html>
<html>
<head>
    <title>MercadoX5</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    <header class="app-header">
        <h1 class="app-title">MercadoX5</h1>
        <a href="{{ url_for('logout') }}" class="logout-link">
            <i class="fas fa-sign-out-alt"></i>
        </a>
    </header>
      

    <main class="app-content">
        {% block content %}{% endblock %}
    </main>

    <nav class="nav-bottom">
        <a href="/" class="nav-item">
            <i class="fas fa-home"></i>
            <span>Inicio</span>
        </a>
        <a href="/products" class="nav-item">
            <i class="fas fa-box"></i>
            <span>Productos</span>
        </a>
        <a href="/stores" class="nav-item">
            <i class="fas fa-store"></i>
            <span>Tiendas</span>
        </a>
        <a href="/prices" class="nav-item">
            <i class="fas fa-tags"></i>
            <span>Precios</span>
        </a>
        <a href="/generate_graph" class="nav-item">
            <i class="fas fa-chart-line"></i>
            <span>Gráficos</span>
        </a>
    </nav>
    
    <!-- Bloque de scripts para inyectar JS específico en cada plantilla -->
    {% block scripts %}{% endblock %}
</body>
</html>