<!DOCTYPE html>
<html>
<head>
    <title>Gráfico</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <div class="container">
        <img src="../static/LOGO JOMAR.jpg" alt="MercadoX5" class="logo" />
    </div>
    <h1>MercadoX5</h1>
    <h1>Gráfico de Precios</h1>
    <div id="graphDiv"></div>

    <script>
        // Obtener el código de trazado de Plotly de la variable 'div'
        var div = '{{ div|safe }}';

        // Insertar el código de trazado en el elemento 'graphDiv'
        document.getElementById('graphDiv').innerHTML = div;
    </script>

    <div style="margin-top: 20px;">
        <div class="button-container">
        <a href="/" style="margin-top: 10px;"><button>Volver</button></a>
        </div>
    </div>
</body>
</html>