{% extends "base.html" %}

{% block content %}
<div class="card">
   <div class="menu-grid">
       <a href="/add_product" class="menu-item">
           <i class="fas fa-plus-circle"></i>
           <span>Agregar Producto</span>
       </a>
       <a href="/add_store" class="menu-item">
           <i class="fas fa-store-alt"></i>
           <span>Agregar Tienda</span>
       </a>
       <a href="/add_price" class="menu-item">
           <i class="fas fa-dollar-sign"></i>
           <span>Agregar Precio</span>
       </a>
   </div>
</div>
{% endblock %}
