<!-- products.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Listado de Productos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Listado de Productos</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Marca</th>
                <th>Presentación</th>
                <th>Distribuidor</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.brand }}</td>
                <td>{{ product.presentation }}</td>
                <td>{{ product.distributor }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="button-container">
        <a href="/"><button>Regresar</button></a>
    </div>
</body>
</html>