{% extends "base.html" %}

{% block content %}
<div class="card">
    <div class="page-title">
        <i class="fas fa-box"></i>
        <h1>Productos</h1>
    </div>
    <table>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Marca</th>
            <th>Presentación</th>
            <th>Distribuidor</th>
        </tr>
        {% for product in products %}
        <tr>
            <td>{{ product.id }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.brand }}</td>
            <td>{{ product.presentation }}</td>
            <td>{{ product.distributor }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}