{% extends "base.html" %}
{% block title %}Reportes{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-primary">
            <i class="fas fa-file-alt text-primary mr-2"></i> Reportes
        </h1>
    </div>
    <div class="list-group">
        <a href="{{ url_for('reports_products') }}" class="list-group-item list-group-item-action">
            <i class="fas fa-box fa-fw text-primary mr-2"></i> Listado de Productos
        </a>
        <a href="{{ url_for('reports_stores') }}" class="list-group-item list-group-item-action">
            <i class="fas fa-store fa-fw text-primary mr-2"></i> Listado de Tiendas
        </a>
        <a href="{{ url_for('reports_prices') }}" class="list-group-item list-group-item-action">
            <i class="fas fa-dollar-sign fa-fw text-primary mr-2"></i> Listado de Precios
        </a>
    </div>
</div>
{% endblock %}


