<!-- stores.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Listado de Tiendas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="container">
        <img src="../static/LOGO JOMAR.jpg" alt="MercadoX5" class="logo" />
    </div>
    <h1>MercadoX5</h1>
    <h1>Listado de Tiendas</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Dirección</th>
            </tr>
        </thead>
        <tbody>
            {% for store in stores %}
            <tr>
                <td>{{ store.id }}</td>
                <td>{{ store.name }}</td>
                <td>{{ store.address }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="button-container">
        <a href="/"><button>Regresar</button></a>
    </div>
</body>
</html>